<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOq7otlx6s0JuzkvHnLJwAAvTMx85mqRI</string>
	<key>GCM_SENDER_ID</key>
	<string>875306571943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.racketmatch</string>
	<key>PROJECT_ID</key>
	<string>racketmatch-9273a</string>
	<key>STORAGE_BUCKET</key>
	<string>racketmatch-9273a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875306571943:ios:1da242e2d2f0ce5397a382</string>
</dict>
</plist>